<h1 class="text-center mt-4 mb-4 ">CADASTRAR USUARIOS</h1>
<form action="/admin/add" method="POST" class="p-3 border bg-light" class="w-100"
        style="max-width: 500px; min-width: 300px; margin: auto;">
        <div>
                <p class="form-label">Nome:</p>
                <input  class="form-control" type="text" name="nome" required>
                <p class="form-label" >E-mail:</p>
                <input type="email" class="form-control" type="text" name="email"required>
                <p class="form-label">Senha:</p>
                <input class="form-control" type="text" name="senha"required>
                <br>
                <br>
                <button class="btn btn-success">Enviar</button>
                <button type="button" onclick="redirecionar()" class="btn btn-primary">Listar</button>
        </div>
</form>